.buttons-container {
    opacity: 65%;
}

.scores, .estate-values {
    background-color: #00000047;
}

.fence {
    background: red;
}

.house {
    background-color: green;
}

.pool {
    background-color: yellow;
}

.lot {
    background: blue;
}

.park {
    background: lightgreen;
}
