:root {
    --page-width: 927px;
    --page-height: 924px;
    --lot-width: 55px;
    --fence-width: 7px;
    --park-height: 34px;
    --street-height: 94px;

}

.abs {
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    position: relative;
    width: var(--page-width);
    height: var(--page-height);
}

.board-base {
    position: absolute;
    width: var(--page-width);
    height: var(--page-height);
}

.lot {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: var(--lot-width);
    height: var(--street-height);
    position: relative;
}

.fence {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: var(--fence-width);
    height: var(--street-height);
    background: transparent;
}

.fence.toggled {
    background: black;
}

.pool {
    width: 46px;
    height: 25px;
    margin: 4px auto auto;
    border-radius: 50%;
    background: transparent;
}

.pool.toggled {
    background: darkblue;
}

.house {
    width: 46px;
    height: 54px;
    position: absolute;
    top: 32px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.house:first-child {
    top: 22px
}

.street-container {
    font-size: 0;
    width: fit-content;
    position: absolute;
    height: var(--street-height);
}

.highlight-box {
    position: absolute;
    border: 5px dashed orangered;
    border-radius: 8px;
    pointer-events: none; /* So it doesn't interfere with clicks */
    z-index: 9999;
}

/*todo refactor positioning and click events on popup menus*/
.interact-menu {
    position: absolute;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.estate-values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.score-box {
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.score-parks {
    width: 50px;
    height: 50px;
}