:root {
    --page-width: 927px;
    --page-height: 924px;
    --lot-width: 55px;

    --fence-width: 7px;

    --park-height: 34px;
    --park-1-top: 42px;
    --park-2-top: 208px;
    --park-3-top: 373px;
    --park-1-left: 732px;
    --park-2-left: 701px;
    --park-3-left: 668px;
    --park-1-width: 125px;
    --park-2-width: 155px;
    --park-3-width: 190px;

    --street-height: 94px;
    --street-1-top: 88px;
    --street-2-top: 254px;
    --street-3-top: 420px;
    --street-1-left: 219px;
    --street-2-left: 156px;
    --street-3-left: 94px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    position: relative;
    width: var(--page-width);
    height: var(--page-height);
}

.board-base {
    position: absolute;
    width: var(--page-width);
    height: var(--page-height);
}

.lot {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: var(--lot-width);
    height: var(--street-height);
    position: relative;
}

.fence {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: var(--fence-width);
    height: var(--street-height);
    background: transparent;
}

.fence.toggled {
    background: black;
}

.pool {
    width: 46px;
    height: 25px;
    margin: 4px auto auto;
    border-radius: 50%;
    background: transparent;
}

.pool.toggled {
    background: darkblue;
}

.house {
    width: 46px;
    height: 54px;
    position: absolute;
    top: 32px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.house:first-child {
    top: 22px
}

.buttons-container {
    font-size: 0;
    width: fit-content;
    position: absolute;
    height: var(--page-height);
}

.buttons-container.street {
    height: var(--street-height);
}

.buttons-container.park {
    height: var(--park-height);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.park-1 {
    top: var(--park-1-top);
    left: var(--park-1-left);
    width: var(--park-1-width);
}

.park-2 {
    top: var(--park-2-top);
    left: var(--park-2-left);
    width: var(--park-2-width);
}

.park-3 {
    top: var(--park-3-top);
    left: var(--park-3-left);
    width: var(--park-3-width);
}

.street-1 {
    top: var(--street-1-top);
    left: var(--street-1-left);
}

.street-2 {
    top: var(--street-2-top);
    left: var(--street-2-left);
}

.street-3 {
    top: var(--street-3-top);
    left: var(--street-3-left);
}

.highlight-box {
    position: absolute;
    border: 5px dashed orangered;
    border-radius: 8px;
    pointer-events: none; /* So it doesn't interfere with clicks */
    z-index: 9999;
}

.interact-menu {
    position: absolute;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.estate-values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#street-scores-parks {
    width: 50px;
    height: 139px;
    bottom: 114px;
    left: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#street-scores-pools {
    width: 56px;
    height: 151px;
    bottom: 114px;
    left: 203px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#street-scores-bis {
    width: 64px;
    height: 189px;
    bottom: 109px;
    left: 691px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#total-score-parks {
    width: 50px;
    height: 48px;
    bottom: 46px;
    left: 121px;
}

#total-score-pools {
    width: 40px;
    height: 37px;
    bottom: 51px;
    left: 209px;
}

#estate-totals-1 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 402px;
}

#estate-totals-2 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 444px;
}

#estate-totals-3 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 486px;
}

#estate-totals-4 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 528px;
}

#estate-totals-5 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 573px;
}

#estate-totals-6 {
    width: 38px;
    height: 37px;
    bottom: 51px;
    left: 618px;
}

#total-score-bis {
    width: 40px;
    height: 37px;
    bottom: 51px;
    left: 704px;
}

#estate-points-1 {
    width: 36px;
    height: 57px;
    bottom: 167px;
    left: 408px;
}

#estate-points-2 {
    width: 36px;
    height: 84px;
    bottom: 155px;
    left: 451px;
}

#estate-points-3 {
    width: 36px;
    height: 108px;
    bottom: 146px;
    left: 490px;
}

#estate-points-4 {
    width: 36px;
    height: 134px;
    bottom: 135px;
    left: 532px;
}

#estate-points-5 {
    width: 36px;
    height: 135px;
    bottom: 148px;
    left: 574px;
}

#estate-points-6 {
    width: 36px;
    height: 135px;
    bottom: 162px;
    left: 614px;
}

.scores {
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.score-parks {
    width: 50px;
    height: 50px;
}