.street-container, .marker-container {
    opacity: 65%;
    background-color: grey;
}

.score-box, .estate-values {
    background-color: #00000047;
}

.marker {
    background: mediumpurple;
}

.fence {
    background: red;
}

.house {
    background-color: green;
}

.lot {
    background: blue;
}

.pool {
    background: yellow
}
