#scores-parks {
    width: 50px;
    height: 139px;
    bottom: 114px;
    left: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#markers-estate-1 {
    bottom: 193px;
    left: 409px;
}

#markers-estate-2 {
    height: 49px;
    bottom: 180px;
    left: 452px;
}

#markers-estate-3 {
    height: 75px;
    bottom: 170px;
    left: 491px;
}

#markers-estate-4 {
    height: 100px;
    bottom: 159px;
    left: 532px;
}

#markers-estate-5 {
    height: 100px;
    bottom: 173px;
    left: 575px;
}

#markers-estate-6 {
    height: 102px;
    bottom: 186px;
    left: 615px;
}

.total-score {
    width: 38px;
    height: 37px;
    bottom: 51px;
}

.estate-counter {
    width: 36px;
    height: 37px;
    bottom: 106px;
}